/* === Form styling === */
.update-form-container {
  width: 85%;
  margin: auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

/* Step navigation */
.step-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.step {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  background: #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.step.active {
  background: #007bff;
  color: white;
}

/* Input fields */
.step-content input,
.step-content select {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

/* Days grid */
.days-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

/* Hours row */
.hours-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

/* Buttons */
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background: #0056b3;
}

.link{
  margin: 10px;
}